.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s linear;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled {
    color: #43683a;
    background-color: #adadad;
    cursor: not-allowed;
}

.Button .Danger:disabled {
    color: #8b786d;
}